@model SimbirSoft_Latfullin.ViewModels.Unique.RequestedUri
@{
    ViewData["Title"] = "Index";
}
    <a asp-controller="Unique" asp-action="Example">Пример</a>
        <br />

        <form asp-action="Create" asp-controller="Unique" method="post">
            <div class="form-group">
                <label asp-for="Value" class="control-label">Uri</label>
                <input type="text" asp-for="Value" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Отправить" class="btn btn-default" />
            </div>
        </form>
